<% content_for :title, "用戶管理" %>

<% content_for :script do %>
  <script src="/global_assets/js/demo_pages/datatables_extension_buttons_print.js"></script>
  <script src="/global_assets/js/plugins/tables/datatables/datatables.min.js"></script>
  <script src="/global_assets/js/plugins/tables/datatables/extensions/buttons.min.js"></script>
  <script src="/global_assets/js/plugins/tables/datatables/extensions/select.min.js"></script>
<% end %>

<div class="row">
  <div class="card col-lg">
    <div class="card-header header-elements-inline">
      <h5 class="card-title">用戶管理</h5>
      <div class="header-elements">
        <div class="list-icons">
          <a class="list-icons-item" data-action="collapse"></a>
          <a class="list-icons-item" data-action="reload"></a>
          <a class="list-icons-item" data-action="remove"></a>
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table id="zero_config" class="table datatable-button-print-rows">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Class</th>
            <th>Email</th>
            <th>role</th>
            <th></th>
          </tr>
        </thead>
        <tbody id="myTable">
        <% @users.each_with_index do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.name %></td>
            <td><%= user.student_class %></td>
            <td><%= user.email %></td>
            <td><%= user.role %></td>
            <td>
              <a class="btnSelect btn btn-primary" value="<%= user.id %>" href="javascript:void(0);" data-toggle="modal" data-target="#edit_user" data-detail="<%= user.to_json %>">編輯</a>
              <%= link_to '刪除', user_path(user), method: :delete, class: "btn btn-danger", data:{ confirm: "確定要刪除這筆資料嗎?"}%>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Modal -->
<div id="edit_user" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="padding: 48px 16px;">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <%= form_for @edit_user, html: {id: "user_edit_form"}  do |f| %>
              <%= f.label :name, "姓名" %><br/>
              <%= f.text_field :name, class: "form-control", placeholder: "Enter username", required: "required" %>
              <br/>
              <%= f.label :student_class, "班級" %><br/>
              <%= f.text_field :student_class, class: "form-control", placeholder: "Enter class", required: "required" %>
              <br/>
              <%= f.label :email, "電子信箱" %><br/>
              <%= f.text_field :email, class: "form-control", readonly: "readonly"%>
              <br/>
              <%= f.label :role, "身分"%><br/>
              <%= f.text_field :role, class: "form-control", placeholder: "預設為guest 學生是student 管理員是admin", required: "required" %>
              <br/>
              <%= f.submit "修改", class: "btn btn-info" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





